@model SHOPSON.Areas.ADMIN.Models.DANHMUC

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<div class="au-card au-card--bg-blue au-card-top-countries m-b-30" style="width:360px;background-image:-webkit-linear-gradient(131deg, #396AF2 0%, #F2D 100%)">
    <div class="au-card-inner">
        <div class="table-responsive">
            <table class="table table-top-countries">
                <tbody>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.TENDM)</td>
                        <td class="text-right">    @Html.DisplayFor(model => model.TENDM)</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>

<p>
    <button class="btn btn-secondary">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</button>  |
    @Html.ActionLink("Back to List", "Index")
</p>

