
@{
    ViewBag.Title = "Xacnhan";
}

<form action="/thanhtoan/Edit/" method="post">
    <span>
        <input name="mahd" value="@Session["mahd"]" style="display:none" />
    </span>
    <input type="submit" value="Xác nhận" />

</form>
