@model List<SHOPSON.Areas.ADMIN.Models.SANPHAM>
<div class="category-tab shop-details-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="#details" data-toggle="tab">Sản Phẩm liên quan</a></li>
            <li><a href="#companyprofile" data-toggle="tab">Thông tin</a></li>
            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade" id="details">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Areas/img/sanpham/@item.ANH " style="width:100px;height:130px" />
                                <h2>@item.GIA.Value.ToString("N0")đ</h2>
                                <p>@item.TENSP</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>

        <div class="tab-pane fade" id="companyprofile">

        </div>





    </div>
</div><!--/category-tab-->
