@model List<SHOPSON.Areas.ADMIN.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Sản phẩm</h2>
        @Html.Action("viewspall", "patral")
        @Html.Action("viewsp", "patral")
        @Html.Action("viewsp3", "patral")


    </div>
</div>
