@model List<SHOPSON.Areas.ADMIN.Models.TINTUC>
<div class="col-sm-9">
    <div class="blog-post-area">
        <h2 class="title text-center">Tin tức</h2>
        @foreach (var item in Model)
        {
        <div class="single-blog-post">
            <h3>Hồ Cá Koi</h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> Quang Điệp</li>
                    <li><i class="fa fa-calendar"></i> @item.NGAYDANG</li>
                </ul>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </span>
            </div>
            <a href="">
                <img src="~/Areas/img/tintuc/@item.ANH">
            </a>
            <p>@item.TIEUDE</p>
            <p>@item.MOTA</p>
            <a class="btn btn-primary" href="">Read More</a>
        </div>
        }

        
        <div class="pagination-area">
            <ul class="pagination">
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

